body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: thistle;
}

h1 {
    border: 1px black solid;
    background-color: mistyrose;
    margin: 0;
    padding: 24px 0;
    text-align: center;
    color: black;
}

h3 {
    color: white;
    margin: 24px 0;
    border: 1px black solid;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.choices button {
    border: 4px solid #3882F6;
    border-radius: 16px;
    box-sizing: border-box;
    height: 168px;
    width: 168px;
}

.text {
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scores {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.player-score, .computer-score {
    display: flex;
    justify-content: space-between;
    width: 160px;
    border: 1px black solid;
}